@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Roboto:wght@500&display=swap');

/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/* -------------------- */

.body {
	background-color: #633e3e;
	font-family: roboto;
	height: 4000px;
	font-size: 18px;
	position: relative;
}

/* Container */
.container {
	max-width: 1200px;
	margin: 0 auto;
	text-align: center;	
}

/* Header */
.header {
	height: 100vh;
	background-color: #335538;
}
/* Header nav */
.header-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
	border-bottom: 3px solid #ffa500;
}
.header-nav-links__item {
	margin: 0 10px 0 0;
	color: #ffffff;
	transition: .3s;
}
.header-nav-links__item:hover {
	color: #ffa500;
}
.header-nav-contacts__telNumber {
	color: #ffffff;
}
.header-nav-contacts__telNumber::before {
	content: url("img/phone.png");
	position: relative;
	right: 5px;
}
/* Header section */
.header-section-block {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center; 
	margin: 30vh 0;
	color: #ffffff;
}
.header-section-block__title {
	font-size: 72px;
	padding: 0 0 10px 0;
}
.header-section-block__text {
	padding: 0 0 15px 0;
}
.header-section-block__button {
	background-color: #ffa500;
	color: #ffffff;
	width: 200px;
	height: 40px;
	border-radius: 20px;
	font-size: 18px;
	transition: .5s;
}
.header-section-block__button:hover {
	background-color: #1c534f;
}
/* Welcome section */
.welcome-section {
	margin: 150px 0 0 0;
}
.welcome-section-block {
	margin: 0 auto;
	width: 980px;
}
.welcome-section-block__title {
	color: #4a4a4a;
	margin: 0 0 15px 0;
	font-size: 50px;
}
.welcome-section-block__text {
	color: #757575;
	font-size: 16px;
	letter-spacing: 1px;
	word-spacing: 2px;
}
/* Benefits */
.welcome-section-benefits {
	margin: 170px 0 0 0;
}
.benefits-flex-container {
	display: flex;
	justify-content: space-between;
}
.benefits-flex-container__item {
	padding: 30px 15px;
	border-radius: 15px;
	box-shadow: 0 0 15px #000000;
	background-color: #b2b2b2;
	text-align: left;
	width: 300px;
}
.item-img1 {
	width: 42px;
	height: 40px;
}
.item-img2 {
	width: 42px;
	height: 35px;
}
.item-img3 {
	width: 42px;
	height: 40px;
}
.item-img1, .item-img2, .item-img3 {
	margin: 0 0 15px 0;
}
.item-title {
	color: #4a4a4a;
	margin: 0 0 15px 0;
}
.item-text {
	color: #ffffff;
}
/* Blog section */
.blog-section {
	margin: 170px 0 0 0;
}
.blog-section-block__title {
	color: #4a4a4a;
	margin: 0 0 15px 0;
	font-size: 50px;
}
.blog-section-block__text {
	color: #757575;
	font-size: 16px;
	letter-spacing: 1px;
	word-spacing: 2px;
	margin: 0 0 55px 0;
}
.blog-section-block-search {
	color: #757575;
	font-size: 24px;
	margin: 0 0 70px 0;
}
.blog-section-block-search__item::before {
	content: url("img/Search-icon.png");
	position: relative;
	top: 5px;
	right: 10px;
}
/* Preview */
.preview-flex-container {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;
}
.preview-flex-container__item {
	padding: 55px 0 0 0;
	margin: 0 0 60px 0;
	font-size: 22px;
	width: 350px;
	height: 350px;
	background-color: #b2b2b2;
	border-radius: 15px;
	box-shadow: 0 0 15px #000000;
}
.preview-flex-container__item > h3 {
	color: #ffffff;
}
/* Reviews section */
.reviews-section {
	margin: 150px 0 0 0;
}
.reviews-section-block {
	position: relative;
}
.reviews-section-block__review::before {
	content: url("img/skobka1.png");
	position: absolute;
	top: 0;
	left: 0;
}
.reviews-section-block__review::after {
	content: url("img/skobka2.png");
	position: absolute;
	bottom: 0;
	right: 0;
}
.reviews-section-block__title {
	color: #4a4a4a;
	margin: 0 0 15px 0;
	font-size: 50px;
}
.reviews-section-block__text {
	color: #757575;
	font-size: 16px;
	letter-spacing: 1px;
	word-spacing: 2px;
	margin: 0 0 55px 0;
}
.reviews-section-block__review {
	display: flex;
	justify-content: center;
	margin: 0 auto;
}
.review-img {
	width: 185px;
	height: 200px;
	border-radius: 15px;
	box-shadow: 0 0 15px #000000;
	background-color: #b2b2b2;
	margin: 0 40px 0 0;
}
.review-block-item {
	width: 600px;
	text-align: left;
}
.review-block-item > p {
	opacity: .8;
	color: #616161;
	margin: 0 0 90px 0;
}
.review-block-item > h3 {
	color: #616161;
	opacity: .8;
}
h3 > span {
	color: #ffa500;
}
/* Discount section */
.discount-section {
	margin: 250px 0 0 0;
	background-color: #ffa500;
}
.discount-section-block {
	display: flex;
	justify-content: space-between;
	padding: 80px 0;
}
.discount-section-block__title {
	color: #ffffff;
	font-size: 30px;
}
.discount-section-block__button {
	color: #ffffff;
	background-color: transparent;
	width: 200px;
	height: 40px;
	border: 3px solid #ffffff;
	border-radius: 20px;
	transition: .2s;
}
.discount-section-block__button:hover {
	background-color: #ffffff;
	opacity: .7;
	color: #ffa500;
}
/* Footer */
.footer {
	position: absolute;
	bottom: 0;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	text-align: center;
}
.footer-nav {
	display: flex;
	justify-content: space-between;
}
.footer-nav-item > h3 {
	color: #ffffff;
}
.footer-nav-item > p {
	color: #6c6c6c;
}